.menuContainer {
    display: grid;
    grid-template-rows: max-content 8vh max-content 8vh max-content 8vh max-content 8vh max-content 8vh;
    row-gap: 10px;
    height: 100%;
}
.stopplateRow {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid rgba(var(--card-border-rgb),0.2);
    border-radius: 1em;
}

.button {
    font-family: var(--font-mono);
    color: rgb(var(--foreground-rgb));
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--tile-start-rgb), 1);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--callout-border-rgb), 0.85);
    box-shadow: 0 0 10px 0px rgba(var(--card-border-rgb), 0.1);
    font-size: large;
}
.button:hover {
    background: rgba(var(--card-border-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    box-shadow: 0 0 10px 0px rgba(var(--card-border-rgb), 0.12);
}

/*Range Reset*/
.rangeInput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
}

/* Removes default focus */
.rangeInput:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.rangeInput::-webkit-slider-runnable-track {
    background: rgb(var(--callout-border-rgb));
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.281);
    border-radius: 2px;
    height: 0.5rem;
}

/* slider thumb */
.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px -1px rgba(255, 255, 255, 0.281);
    height: 2rem;
    width: 1rem;
}

.rangeInput:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

.rangeInputDisplay {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.233);
    border: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px -1px rgba(255, 255, 255, 0.281);
    font-size: large;
    height: 100%;
    width: 5em;
}
.dropDown {
    font-family: var(--font-mono);
    color: rgb(var(--foreground-rgb));
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--tile-start-rgb), 1);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--callout-border-rgb), 0.85);
    box-shadow: 0 0 10px 0px rgba(var(--card-border-rgb), 0.1);
    font-size: large; 
    background-color: rgba(var(--tile-start-rgb), 0.2);
    backdrop-filter: blur(10px);
}
.dropDown[select]::selection {
    background-color: black;
}