.main {
    font-size: 0.85rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: var(--font-mono);
    display: grid;
    grid-template-rows: 4em auto;
    gap: 0px 0px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
}
.contentBox-gap > div {
    margin-top: 10px;
}