.formBox {
    height: 100%;
    width: 100%;
}

.formRow {
    display: flex;
    width: 100%;
}

.inputContainer{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin: 1em;
    padding: 0 0 0 1em;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background-image: var(--tile-border);
}

.input {
    width: 100%;
    display: block;
    font-family: var(--font-mono);
    color: rgb(var(--foreground-rgb));
    padding: 1rem 1rem;
    font-size: 1rem;
    margin: 0 0 0 1em;
    border-radius: var(--border-radius);
    background: rgba(var(--tile-start-rgb),1);
    border: 1px solid rgba(var(--callout-border-rgb), 0.25);
}

.inputText {
    width: 15rem;
    word-wrap: none;
    display: inline;
    font-size: large;
}


.inputButton {
    display: block;
    font-family: var(--font-mono);
    color: rgb(var(--foreground-rgb));
    padding: 1rem 1.2rem;
    margin: 0 1em 0 1em;
    border-radius: var(--border-radius);
    background: rgba(var(--callout-border-rgb),0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    width: 100%;
    border: 1px solid rgba(var(--callout-border-rgb), 0.85);
    box-shadow: 0 0 10px 0px rgba(var(--card-border-rgb), 0.1);
    text-align: center;
}
.inputButton:hover {
    background: rgba(var(--card-rgb), 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    box-shadow: 0 0 10px 0px rgba(var(--card-border-rgb), 0.12);
}